/**
 * @file
 * This CSS file provides basic styling for the Age gate.
 */

#agegate {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: inherit;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  z-index: 300;
  background-color: rgba(0, 0, 0, .33);
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#agegate p {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.agegate-message {
  background-color: #ffffff;
  display: block;
  width: 350px;
  padding: 20px;
  margin: 15% auto;
  text-align: center;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#agegate .agegate-message > div {
  padding: .5em 0 .5em 0;
}

#agegate .title {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

#agegate .button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  margin-top: 20px;
}

#agegate .button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}

#agegate .button:active {
  position: relative;
  top: 1px;
  background-color: #bcc7d5;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bcc7d5), color-stop(1, #cfcfcf) );
  background: -moz-linear-gradient( center top, #bcc7d5 5%, #cfcfcf 100% );
}

#agegate_birthday {
  position: relative;
  display: block;
  width: 70%;
  font-size: 1.2em;
  background-color: #f6f6f6;
  margin: 1em auto 1em auto;
  padding: .5em;
  border: none;
  text-align: center;
  border-bottom: 2px solid #595959;
}

#agegate .agegate-error {
  border-color: rgba(255, 0, 0, 0);
  border-width: 3px;
  border-style: solid;
  transition: border-color 1s, border-width 1s;
}

#agegate .agegate-error.agegate-error-on {
  border-color: rgba(255, 0, 0, 1);
  border-width: 3px;
  border-style: solid;
}
